
# Файлы и папки Python
*.pyc
__pycache__/

# Виртуальные окружения
env/
*.dylib


# Конфигурации для IDE (VSCode, PyCharm и т.д.)
.vscode/
.idea/

# Логи
*.log

# Файлы и папки, создаваемые операционными системами
.DS_Store
Thumbs.db
data/

# Системные файлы MacOS
._*

